<% shows.forEach(show => { %>
    <article>
        <h2><%= show.Title %></h2>
        <p>Director: <%= show.Director %></p>
        <p>Release Date: <%= show.ReleaseDate %></p>
        <p>Seasons: <%= show.Seasons %></p>
        <p>Episodes: <%= show.Episodes %></p>
        <a href="/show/<%= show.CatalogID %>">View/Manage</a>
        <br><br>
    </article>
<% }) %>