<!-- FOR FILTERING -->
<form action="/shows" method="GET" class="px-5">
    <h2>Filters:</h2>
    <br>

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" class="mx-1">

    <label for="director">Director:</label>
    <input type="text" id="director" name="director" class="mx-1">

    <label for="seasons">Seasons:</label>
    <input type="text" id="seasons" name="seasons">
    
    <label for="releaseDate">Release Date (Year):</label>
    <input type="number" id="releaseDate" name="releaseDate" class="mx-1">

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" class="mx-1">
    
    <button type="submit" class="btn btn-secondary">Apply Filters</button>
</form>
    
<section class="row g-3">
    
    <% shows.forEach(show => { %>
        <article class="p-7 col-md-2">
            <div class="bg-body-tertiary rounded p-3">
                <h5><%= show.Title %></h5>
                <div class="img-block">
                <img src="<%= show.PosterUrl %>" alt="" class="img-prop">
                </div>
                <div class="description-block">
                    <div class="description-heading">
                        <p>Director:</p>
                        <p>Release Date:</p>
                        <p>Seasons</p>
                        <p>Episodes:</p>
                        <p>Genre:</p>
                    </div>
                    <div class="description-details">
                <p><%= show.Director %></p>
                <p><%= show.ReleaseDate %></p>
                <p><%= show.Seasons %></p>
                <p><%= show.Episodes %></p>
                <p><%= show.Genre %></p>
                <br><br>
                    </div>
                </div>
                <a href="/show/<%= show.CatalogID %>"><button type="button" class="btn btn-primary1">View</button></a>
            </div>
        </article>
    <% }) %>
</section>
<style>
    .btn.btn-primary1
    {
        background-color: #d50000;
        border: 1px solid #c50202;
        width: 40%;
    }
    {

    }
    .description-details
    {
        text-align: left;
        color: #cacaca;
    }
    .description-heading
    {
        text-align: right;
        margin-right: 15px;
        font-weight: bold;
    }
    .description-block
    {
        text-align: center;
        display: flex;
        color: white;
    }
    .img-block
    {
        width: 100%;
        height: 290px;
    }
    h5
    {
        height: 30px;
        width:100%;
        font-size:2vh;
        vertical-align: middle;
    }
    p
    {
        font-size: 10px;

    }
    .bg-body-tertiary
    {
        margin-top: 40px;
        text-align: center;
        transition: 0.3s;
    }
    .bg-body-tertiary:hover
    {
        box-shadow: rgb(255, 0, 0) 0 0 19px 7px;
    }
    .img-prop
    {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>